
    .playwrite-nz-Font{
        font-family: "Playwrite NZ", cursive;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
      }

:root {
  --main-color: rgb(9, 132, 227, 1);
  --main-color-light: rgb(9, 132, 227, 0.5);
  --accent-color: rgb(253, 121, 168, 1);
  --accent-color-light: rgb(253, 121, 168, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playwrite NZ", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  background-image: linear-gradient(
    to bottom right,
    var(--main-color),
    var(--accent-color)
  );
  background-repeat: no-repeat;
  min-height: 100vh;
}

.main-title {
  font-size: 2rem;
  color: white;
}

.header,
.gorev-form {
  min-height: 20vh;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-item {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background-color: white;
  outline: none;
}

.btn-gorev-ekle {
  color: var(--main-color);
  cursor: pointer;
}

.btn-gorev-ekle:hover {
  color: white;
  background-color: var(--accent-color);
}

.gorev-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gorev-listesi{
    list-style: none;
    min-width: 40%;
}


.gorev-item{
display: flex;
justify-content: center;
align-items: center;
margin: 0.5rem;
background-color: white;
transition: .5s ease-in-out;
}


.gorev-tanim{
    flex: 1;
    padding: .2rem;
}

.gorev-btn{
    background-color: var(--accent-color);
    outline:none;
    border: none;
    font-size: 1.2rem;
    padding: 1.2rem;
}

.gorev-btn-sil
{
    background-color: rgb(226, 65, 65);
}

.gorev-tamamlandi{
    text-decoration: line-through;
    opacity: 0.5;
}

.fa-regular
{
    pointer-events: none;
}


